@import "../App.scss";

.mainPassword {
    display: block;
    width: 540px;
    height: 500px;
    background: $AzulPastel;
    border-radius: 80px;
    margin: 70px auto;
    justify-content: center;
    align-items: center;
    @include media(mobile-only) {
        width: 80%;
        height: 85%;
        border-radius: 30px;
    }
    .article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        img {
            width: 60%;
        }
    }
    h2 {
        color: $White;
        font-size: calc(1em + 0.8vw);
    }
    .input{
        display: block;
        width: 85%;
        margin: 18px auto;
        @include media(mobile-only){
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
        &__icono--1 {
            background-image: url('../../static/usuario.png');
            background-repeat: no-repeat;
            background-position: 4px center;
            background-size: 20px;
            background-color: $White;
            margin: 0 5px;
            @include ImageInputGoogle(25vmax, 50px, 22px);
            input {
                width: 96%;
                height: 40px;
            }
            @include media(mobile-only) {
                @include ImageInputGoogle(28vmax, 45px, 22px);
            }
        }
    }
    .buttonText{
        display: flex;
        flex-direction: row;
        justify-content: end;
        width: 100%;
        a {
            display: block;
            margin:auto;
            padding-top: 5px;
            font-size: calc(0.7em + 0.6vw);
            @include ButtonStyle(220px, 50px, $White, $DoradoPastel, $DoradoPastel);
            @include media(mobile-only) {
                @include ButtonStyle(130px, 35px, $White, $DoradoPastel, $DoradoPastel);
                border-radius: 25px;
            }
        }
        a:hover, a:focus {
            color: $White;
            opacity: 0.9;
        }
    }

    .EnlacesText{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        p {
            margin-top: 25px;
            text-align: center;
            width: 30%;
            a{
                color: $Dorado;
                font-size: calc(0.5em + 0.6vw);
                @include media(mobile-only) {
                    font-size: calc(0.7em + 0.9vw);
                }
            }
        }
    }
}