@import '../App.scss';

.mainSignIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 540px;
  height: 580px;
  background: $Color-BlackLinear;
  border-radius: 80px;
  margin: 20px auto;
  @include media(mobile-only) {
    width: 80%;
    height: 580px;
  }
  .article {
    margin-top: 50px;
  }
  .input {
    display: block;
    width: 85%;
    margin: 15px auto;
    @include media(mobile-only) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    &__icono--1 {
      //background-image: url("../../static/googleG.png");
      background-repeat: no-repeat;
      background-position: 4px center;
      background-color: $White;
      margin: 0 5px;
      @include ImageInputGoogle(8vmax, 40px, 15px);
      input {
        width: 90%;
        height: 35px;
      }
      @include media(mobile-only) {
        @include ImageInputGoogle(15vmax, 40px, 22px);
      }
    }
    &__icono--2 {
      //background-image: url("../../static/usuario.png");
      background-repeat: no-repeat;
      background-position: 4px center;
      background-size: 20px;
      background-color: $White;
      margin: 0 5px;
      @include ImageInputGoogle(30vmax, 50px, 22px);
      input {
        width: 96%;
        height: 40px;
      }
      @include media(mobile-only) {
        @include ImageInputGoogle(28vmax, 45px, 22px);
      }
    }
    &__icono--3 {
      //background-image: url("../../static/llave.png");
      background-repeat: no-repeat;
      background-position: 4px center;
      background-size: 20px;
      background-color: $White;
      margin: 0 5px;
      @include ImageInputGoogle(30vmax, 50px, 22px);
      input {
        width: 96%;
        height: 40px;
      }
      @include media(mobile-only) {
        @include ImageInputGoogle(28vmax, 45px, 22px);
      }
    }

    .button {
      display: block;
      margin: auto;
      padding-top: 5px;
      font-size: calc(0.7em + 0.6vw);
      @include ButtonStyle(220px, 50px, $White, $AzulPastel, $AzulPastel);
      @include media(mobile-only) {
        @include ButtonStyle(130px, 35px, $White, $AzulPastel, $AzulPastel);
        border-radius: 25px;
      }
    }
    .button:hover,
    .button:focus {
      color: $Dorado;
      opacity: 0.9;
    }
  }

  p {
    margin-top: 25px;
    a {
      color: $Dorado;
      font-size: calc(0.5em + 0.7vw);
    }
  }
}
